<!DOCTYPE HTML>
<html>
<head>
	<title>OFTS</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{static_url('css/WM.css')}}">
	<link rel="shortcut icon" type="image/gif" href="{{static_url('images/favicon.gif')}}">
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
	<script src="{{static_url('js/login.js')}}"></script>
	<style type="text/css">
		body {
			background-image: url("{{static_url('images/background.jpg')}}");
		}
	</style>
</head>
<body>
	<div class='center' id='login_area'>
		<div class='center'>
			<div id="error"></div>
			<div>
				Your ID: <input type='text' size='10' maxlength='8'>
				<button type='button' id="login">Go!</button>
				<hr>
				<button type='button' id="luren">我是路人...</button>
			</div>
		</div>
	</div>
</body>
</html>