.game {
	box-shadow: 0 0 1px black;
	font-size: 0;
	width: 400px;
	height: 400px;
	margin: 10px auto;
	position: relative;
}

.piece {
	width: 100px;
	height: 100px;
	margin: 0;
	font-size: 20px;
	line-height: 80px;
	text-align: center;
	border: 10px solid white;
	position: absolute;
	top: 0;
	left: 0;
	background: orange;
	border-radius: 20px;
}

@keyframes scaleIn
{
    0%   {font-size: 0; opacity: 0;}
    70%  {font-size: 25px; opacity: 1;}
    100% {}
}

.piece.added {
	animation: scaleIn .5s;
}

.score {
	line-height: 2em;
	font-size: 1.4em;
}
